/* stylelint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable */

:root {
  --background: #f8faff;
  --foreground: #111827;
  --royal-blue: #0561FF;
}

body {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
  margin: 0;
  font-family: 'Inter', sans-serif;
}